@charset "UTF-8";
.am-all-block{
    display: block;
}




.home-warp .hm-hd .wh-sub-search{
    margin-top: .43333rem;
}
.home-warp .hm-hd .locat{
    float: left;
    margin-left: 0;
    margin-right: 1.6%;
    line-height: 1rem;
}
.home-warp .hm-hd .mapsearch-fast .icon-map{
    font-size: .50667rem;
    color: #999999;
}
.home-warp .hm-hd .mapsearch-fast{
    font-size: 0.4rem;
    color: #666;
    line-height: 1rem;
}
.home-warp .hm-hd .wh-sub-search .search-box{
    width: 6.51rem;
    padding-left: 0;
    padding-right: 1rem;
    box-shadow: 0.01rem 0.01rem 0.08rem 0rem
    rgba(0, 0, 0, 0.1);
}
.home-warp .hm-hd .wh-sub-search .icon-search{
    left: inherit;
    right: 0;
}
.home-warp .hm-hd .wh-sub-search .search-ipt{
    text-indent: 0.2rem;
}
.home-warp .hm-area{
    padding: 0 .4rem;
}
.home-warp .hm-area .hm-area-box{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0rem 0.01rem 0.09rem 0rem
    rgba(0, 0, 0, 0.1);
    border-radius: 0.13rem;
    height: 2.29rem;
}
.home-warp .hm-area .hm-area-item{
    flex-grow: 1;
    text-align: center;
    font-size: 0.45rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.64rem;
    letter-spacing: 0rem;

}
.home-warp .hm-area .hm-area-in .hm-area-data{
    color: #1183c3;
}
.home-warp .hm-area .hm-area-in{
    color: #333;
    display: block;
    font-family: SourceHanSansCN-Regular;
}
.home-warp .hm-release{
    padding: 0 .4rem;
    margin-bottom: 0.65rem;
}
.home-warp .hm-release-item{
    width: 47.5%;
    height: 1.81rem;
    background-image: linear-gradient(-70deg,
    #4bbdff 0%,
    #2680dd 100%),
    linear-gradient(
            #226cf3,
            #226cf3);
    background-blend-mode: normal,
    normal;
    border-radius: 0.05rem;
    float: left;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    align-items: center;
}
.home-warp .hm-release .hm-release-demand{
    margin-left: 5%;
    background-image: linear-gradient(233deg,
    #ff8e4b 0%,
    #ff7426 50%,
    #ff5a00 100%),
    linear-gradient(
            #226cf3,
            #226cf3);
}
.home-warp .hm-release-item .hm-release-title{
    color: #fff;
    font-size: 0.43rem;
    letter-spacing: 0rem;
    margin-right: 0.51rem;
}
.home-warp .hm-new-demand .hm-title{
    font-size: 0.5rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #333333;
    margin-top: 0.3rem;
    margin-bottom: 0;
    padding: 0 0.4rem;
}
.home-warp .hm-new-demand .hm-more{
    float: right;
    font-size: 0.4rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    line-height: 0.75rem;
    padding-left: .4rem;
    color: #999999;
}
.hm-new-demand .wh-demand-item{
    padding: .4rem;
    border-bottom: .1rem solid #f4faff;
}
.hm-new-demand .wh-demand-item .item-title{
    position: relative;
    font-size: 0.4rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #333333;
    margin-bottom: 0.2rem;
}
.hm-new-demand .wh-demand-item .w-tag{
    float: left;
    padding: 0 0.2rem;
    height: 0.55rem;
    margin-right: 0.2rem;
    border-radius: 0.05rem;
    border: solid 0.03rem #1183c3;
    text-align: center;
    font-size: 0.33rem;
    color: #1183c3;
}
.wh-demand-item-list .list-li{
    font-size: 0.4rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #999999;
    margin-bottom: .2rem;
}
.wh-demand-item-list .list-li:last-of-type{
    margin-bottom: 0;
}
.wh-demand-item-list .iconfont{
    width: .4rem;
    height: .4rem;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 0.2rem;
}
.wh-demand-item-list .icon-cang{
    background: url("../images/icon-cang.png") no-repeat left center;
    background-size: 100% auto;
}
.wh-demand-item-list .icon-area{
    background: url("../images/icon-area.png") no-repeat left center;
    background-size: 100% auto;
}
.wh-demand-item-list .icon-qian{
    background: url("../images/icon-qian.png") no-repeat left center;
    background-size: 100% auto;
}
.wh-demand-item-list .icon-address{
     background: url("../images/icon-address.png") no-repeat left center;
     background-size:auto 100%;
}
.wh-demand-item-list .list-date{
    float: right;
    font-size: 0.4rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #999999;
}
.wh-demand-item-list .list-li:last-child{
    margin-bottom: 0;
}
.wh-demand-item-list .list-contact{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ffbc09;
    border-radius: 0.05rem;
    font-size: 0.35rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #ffffff;
    padding: 0.1rem 0.3rem;
    margin-top: -0.08rem;
}
.wh-demand-item-list{
    position: relative;
}

.home-warp .hm-hot .hm-title{
    font-size: 0.5rem;
}
.home-warp .hm-hot .hm-hot-nav{
    padding: 0 0.4rem;
    margin: 0.2rem 0 0.4rem;
}
.home-warp .hm-hot .hm-hot-nav .nav-item{
    font-size: 0.4rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #999999;
    margin-right: 1rem;
}
.home-warp .hm-hot .hm-hot-nav .nav-item.item-on{
    color: #1183c3;
}
.home-warp .wh-warehouse-list{
    display: none;
}
.home-warp .wh-warehouse-list.item-on{
    display: block;
}

.wh-warehouse-list .wh-warehouse-list-item .item-r .list-ft{
    margin-top: .4rem;
}
.wh-warehouse-list .wh-warehouse-list-item .item-r .list-ft .list-price .price-dollar{
    font-size: 0.32rem;
}
.wh-warehouse-list .wh-warehouse-list-item .item-r .list-ft .list-comment{
    margin-top: 0.05rem;
}
.wh-warehouse-list .wh-warehouse-list-item .item-r .list-comment{
    float: right;
    color: #999;
    font-size: .32rem;
}
.wh-warehouse-list .wh-warehouse-list-item .item-r .list-num{
    color: #1183c3;
    font-style: normal;
}
.home-warp.nearby-layout .hm-hd .wh-sub-search .icon-search{
    left: 0;
    right: inherit;
}
.home-warp.nearby-layout .hm-hd .wh-sub-search .search-box{
    padding-left: 1rem;
    padding-right: 0;
    width: 80%;
    height: 0.8rem;
}
.home-warp.nearby-layout .hm-hd .wh-sub-search{
    margin-bottom: 0;
}
.home-warp.nearby-layout .hm-hd .wh-sub-search .search-ipt{
   line-height: inherit;
    height: 100%;
    text-indent: 0;
    margin-bottom: 0;
    border-radius: 0.1rem 50% 50% 0.1rem;
    padding-right: 0.22rem;
}
.home-warp.nearby-layout .hm-hd .locat{
    line-height: 0.8rem;
    color: #fff;
    width: 19%;
    margin-right: 0;
    padding-left: 1.6%;
}
.nearby-layout .nearby-nav{
    margin-top: 0;

}
.nearby-layout .nearby-head{
    background-image: linear-gradient(-13deg,
    #20a5f1 1%,
    #3591ee 100%,
    #2b96f0 100%,
    #209bf1 100%),
    linear-gradient(
            #1183c3,
            #1183c3);
    background-blend-mode: normal,
    normal;
}
.nearby-layout .nearby-nav .nav-item.item-on{
    color: #fff;
    opacity: 1;
}
.nearby-layout .nearby-nav .nav-item{
    opacity: 0.32;
    color: #fff;
    padding-bottom: 0;
}
.nearby-layout .nearby-nav .nav-item.item-on::after{
    border-color: #fff;
}
.nearby-layout .wh-warehouse-list:first-child{
    display: none;
}
.home-warp.nearby-layout .wh-warehouse-list.item-on{
    display: block;
}
.wh-warehouse-list .wh-warehouse-list-item{
    padding:0.5rem 0.4rem;
}
.hm-search-all .hm-search-close{
    padding: 0.3rem 0.4rem;
}
.hm-search-all .hm-search-close .icon-close{
    font-size: 0.64rem;
    color: #cccccc;
}
.hm-search-all .hm-search-form{
    padding:0 0.4rem 0.3rem;
    box-shadow: 0rem 0.06rem 0.07rem 0rem rgba(0, 0, 0, 0.1);
    /*border-bottom: 0.02rem solid rgba(0, 0, 0, 0.1);*/
}
.hm-search-all .hm-search-type{
    position: relative;
    float: left;
    width: 27%;
    height: 0.85rem;
    border-right:0.03rem solid #eee;
}
.hm-search-all .am-selected .am-selected-btn .am-selected-icon{
    color: #999;
}
.hm-search-all .hm-search-box{
    float: left;
    overflow: hidden;
    position: relative;
    padding-right: 0.7rem;
    width: 73%;
}
.hm-search-all .am-selected .am-selected-btn{
    height: 0.85rem;
    line-height: 0.85rem;
}
.hm-search-all .am-selected-status{
    font-size: 0.45rem;
    color: #333;
}
.hm-search-all .hm-search-box .hm-search-input{
    border: none;
    font-size: 0.4rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #cccccc;
    width: 100%;
    height: 0.85rem;
}
.hm-search-all .hm-search-box .icon-search{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.5rem;
    color: #cacaca;
    width: 0.7rem;
    text-align: center;
}
.hm-search-history{
    padding: 0.53rem 0.4rem;
}
.hm-search-history .hm-history-head{
    font-size: 0.4rem;
    color: #333;
}
.hm-search-history .hm-history-head .hm-history-clear{
    color: #999;
    float: right;
}
.hm-search-history .hm-history-list{
    color: #999;
    font-size: 0.4rem;
}
.hm-search-history .hm-history-list .icon-close{
    font-size: 0.4rem;
    color: #999;
    float: right;
    width: 1rem;
    text-align: center;
}
.hm-search-history .hm-history-name{
    float: left;
}
.hm-search-history .hm-history-list .hm-history-item{
    padding: 0.4rem 0;
}
.hm-search-all{
    background-color: #fff;
}
.tran-title .lf-box img{
    display: none !important;
}
.tran-title .lf-box .icon-back{
    font-size: 20px;
    color: #fff;
    display: block;
    height: 30px;
    width: 30px;
}
.tran-title div{
    font-size: 15px;
}

/*
.mobileSelect .grayLayer{
    display: none;
}
.mobileSelect .content{
position: absolute;
    left: 0;
    z-index: 1111;
    top: -350px;
    bottom: inherit;
}
.whlist-wrap .wh-warehouse-tab-wrap{

}
.mobileSelect.mobileSelect-show .content{
    top: 100%;
}*/

.wh-warehouse-boutique{
    background:  #f4faff;
}
.wh-warehouse-boutique .wh-warehouse-list .wh-warehouse-list-item{
    background: #f4faff;
}
.wh-next-page{
    display: block;
    padding: 0;
}
.wh-next-page .icon-up-arrow{
    transform: rotateZ(90deg);
    display: inline-block;
}
.wh-next-page .msg-up{
    padding-top: .26667rem;
    padding-bottom: .26667rem;
    font-size: .32rem;
    color: #666;
    display: block;
}
.whlist-wrap .wh-warehouse-boutique .wh-title {
    font-size: 0.45rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #333333;
    margin-bottom: 0;
    padding: 0 0.4rem;
    padding-top: 0.3rem;
}
.whlist-wrap .wh-warehouse-boutique .hm-more {
    float: right;
    font-size: 0.35rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    line-height: 0.75rem;
    padding-left: .4rem;
    color: #999999;
}
.wh-warehouse-tip-release{
    background: #fff;
    text-align: center;
}
.wh-warehouse-tip-release .wh-warehouse-tip-release-link{
    color: #1183c3;
    font-size: 0.35rem;
    padding: 0.25rem 0 0.05rem;
    display: inline-block;
}
.wh-warehouse-tip-release .wh-text{
    font-size: 0.32rem;
    color: #999;
    padding-bottom: 0.1rem;
}
.whlist-wrap .wh-lbs-hd .wh-sub-search .search-box{
    width: 73.5%;
}
.whlist-wrap .wh-lbs-hd .filter{
    width: 1rem;
    height: .93333rem;
    text-align: center;
    font-size: 0.57rem;
    display: block;
    margin-top: 0;
    font-weight: bold;
}
.wh-sub-search clearfix{
    position: relative;
}
.wh-sub-warehouse{
    position: absolute;
    right: .42667rem;
    top: 2rem;
    background-color: #ffffff;
    box-shadow: 0rem 0.01rem 0.07rem 0rem
    rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: none;
}
.wh-sub-warehouse .wh-sub-item-link{
    font-size: 0.37rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #666666;
    width: 100%;
    height: 100%;
    padding: 0.15rem 0;
    display: block;
}
.wh-sub-warehouse .wh-sub-item{
    width: 2.56rem;
    border-bottom: 1px solid #eeeeee;
}
.wh-sub-warehouse .wh-sub-item-link .iconfont{
    font-size: 0.45rem;
    margin-right: 0.3rem;
}
.wh-sub-warehouse .wh-triangle{
    position:absolute;
    top: -5px;
    right: 15px;
    width: 0;
    height: 0;
    border-width: 0 5px 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.1);
}
.wh-sub-warehouse .wh-triangle:after{
    content: "";
    position: absolute;
    top: 1px;
    left: -4px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: transparent transparent #fff;
}
