.ico-LBS_10 {
	background: url(../../images/sprite.png) no-repeat 0rem -13.8rem;
	background-size: 21.1rem 17.4rem;
	width: 3.2rem;
	height: 3.6rem
}

.ico-cor,.wh-info .wh-info-con .wh-info-loct .wh-info-area .cor {
	background: url(../../images/sprite.png) no-repeat -12.4rem -13.8rem;
	background-size: 21.1rem 17.4rem;
	width: 2.9rem;
	height: 2.9rem
}

.house-owner-tab .icon-house-1,.ico-house-1 {
	background: url(../../images/sprite.png) no-repeat -17rem 0rem;
	background-size: 21.1rem 17.4rem;
	width: 4.1rem;
	height: 3.8rem
}

.house-owner-tab .icon-house-2,.ico-house-2 {
	background: url(../../images/sprite.png) no-repeat -17rem -4.8rem;
	background-size: 21.1rem 17.4rem;
	width: 3.9rem;
	height: 3.7rem
}

.foot-wrap .wh-ft .wh-ft-item.wh-ft-item-on .icon-house,.foot-wrap .wh-ft .wh-ft-item:hover .icon-house,.ico-house-on {
	background: url(../../images/sprite.png) no-repeat 0rem -5rem;
	background-size: 21.1rem 17.4rem;
	width: 4.6rem;
	height: 3.4rem
}

.foot-wrap .wh-ft .icon-tab.icon-house,.ico-house {
	background: url(../../images/sprite.png) no-repeat -5.6rem -5rem;
	background-size: 21.1rem 17.4rem;
	width: 4.6rem;
	height: 3.4rem
}

.ico-perstalk,.wh-pers-hd .icon-perstalk {
	background: url(../../images/sprite.png) no-repeat 0rem 0rem;
	background-size: 21.1rem 17.4rem;
	width: 4.8rem;
	height: 4rem
}

.ico-star-on {
	background: url(../../images/sprite.png) no-repeat -4.2rem -13.8rem;
	background-size: 21.1rem 17.4rem;
	width: 3.2rem;
	height: 3.2rem
}

.ico-star {
	background: url(../../images/sprite.png) no-repeat -17rem -9.5rem;
	background-size: 21.1rem 17.4rem;
	width: 3.2rem;
	height: 3.2rem
}

.ico-tick {
	background: url(../../images/sprite.png) no-repeat -8.4rem -13.8rem;
	background-size: 21.1rem 17.4rem;
	width: 3rem;
	height: 3rem
}

.foot-wrap .wh-ft .wh-ft-item.wh-ft-item-on .icon-user,.foot-wrap .wh-ft .wh-ft-item:hover .icon-user,.ico-user-on {
	background: url(../../images/sprite.png) no-repeat -11.2rem -9.4rem;
	background-size: 21.1rem 17.4rem;
	width: 4.6rem;
	height: 3.4rem
}

.foot-wrap .wh-ft .icon-tab.icon-user,.ico-user {
	background: url(../../images/sprite.png) no-repeat 0rem -9.4rem;
	background-size: 21.1rem 17.4rem;
	width: 4.6rem;
	height: 3.4rem
}

.foot-wrap .wh-ft .wh-ft-item.wh-ft-item-on .icon-user2,.foot-wrap .wh-ft .wh-ft-item:hover .icon-user2,.ico-user2-on {
	background: url(../../images/sprite.png) no-repeat -11.4rem 0rem;
	background-size: 21.1rem 17.4rem;
	width: 4.6rem;
	height: 3.4rem
}

.foot-wrap .wh-ft .icon-tab.icon-user2,.ico-user2 {
	background: url(../../images/sprite.png) no-repeat -11.4rem -4.4rem;
	background-size: 21.1rem 17.4rem;
	width: 4.6rem;
	height: 3.4rem
}

.foot-wrap .wh-ft .wh-ft-item.wh-ft-item-on .icon-w,.foot-wrap .wh-ft .wh-ft-item:hover .icon-w,.ico-w-on {
	background: url(../../images/sprite.png) no-repeat -5.6rem -9.4rem;
	background-size: 21.1rem 17.4rem;
	width: 4.6rem;
	height: 3.4rem
}

.foot-wrap .wh-ft .icon-tab.icon-w,.ico-w {
	background: url(../../images/sprite.png) no-repeat -5.8rem 0rem;
	background-size: 21.1rem 17.4rem;
	width: 4.6rem;
	height: 3.4rem
}

html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none
}

body {
	height: 100%;
	padding-bottom: 10rem;
	background: #f6f6f6
}

ol,ol>li>ol,ol>li>ul,ul,ul>li>ol,ul>li>ul {
	margin: 0;
	padding: 0
}

li {
	list-style: none
}

address,blockquote,dl,fieldset,figure,hr,ol,p,pre,ul {
	margin: 0
}

*+address,*+blockquote,*+dl,*+fieldset,*+figure,*+hr,*+ol,*+p,*+pre,*+ul {
	margin: 0
}

label {
	margin-bottom: 0;
	font-weight: 400
}

input::-webkit-input-placeholder {
	color: #ccc
}

input:-moz-placeholder {
	color: #ccc
}

input::-moz-placeholder {
	color: #ccc
}

input:-ms-input-placeholder {
	color: #ccc
}

.fl {
	float: left
}

.fr {
	float: right
}

.clearfix:after {
	content: "";
	display: block;
	clear: both
}

a {
	color: #ddd
}

a:active,a:focus,a:hover,a:visited {
	color: #fea700
}

.icon-totop {
	position: fixed;
	right: 2rem;
	bottom: 11rem;
	padding: .6rem 1.5rem;
	background: #000;
	opacity: .4;
	font-size: 3rem;
	color: #fff;
	cursor: pointer
}

.wh-next-page {
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-bottom: 10rem;
	text-align: center;
	font-size: 2.2rem;
	color: #666
}

.wh-next-page .icon-up-arrow {
	font-size: 3rem;
	vertical-align: middle;
	color: #999
}

.wh-next-page .icon-up-load {
	margin-right: 1rem;
	font-size: 2.8rem
}

.wh-next-page .page-bt {
	font-size: 2rem;
	color: #999
}

.wh-cm-hd {
	padding-top: 2rem;
	padding-bottom: 1rem;
	background: #ffa600;
	color: #fff;
	font-size: 3rem;
	text-align: center
}

.wh-cm-hd .icon-back {
	position: absolute;
	left: 1.5rem;
	top: .5rem;
	font-size: 5rem;
	color: #fff
}

.cost-set-head {
	height: 3.583333333333333rem;
	line-height: 3.583333333333333rem;
	padding-top: 0;
	padding-bottom: 0;
	background: #fff;
	color: #333;
	font-size: 3rem;
	text-align: center
}

.cost-set-head .icon-back {
	position: absolute;
	left: 1.5rem;
	top: 0;
	font-size: 4rem;
	color: #333
}

.foot-wrap {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10rem;
	background: #fff
}

.foot-wrap .wh-ft {
	text-align: center;
	padding-top: 1.8rem;
	padding-bottom: 1rem;
	font-size: 2.4rem
}

.foot-wrap .wh-ft .wh-ft-item {
	float: left;
	width: 20%;
	color: #666
}

.foot-wrap .wh-ft .wh-ft-item.wh-ft-item-on,.foot-wrap .wh-ft .wh-ft-item:hover {
	color: #ffc000
}

.foot-wrap .wh-ft .icon-tab {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wh-hr1 {
	border-top: 1px solid #eee
}

.wh-hr2 {
	border-top: 1px solid #fafafa
}

.icon {
	width: 1em;
	height: 1em;
	vertical-align: -.15em;
	fill: currentColor;
	overflow: hidden
}

.wh-tag {
	display: inline-block;
	height: 3.3rem;
	line-height: 3.3rem;
	padding-left: 2.3rem;
	padding-right: 2.3rem;
	background: #636c8a;
	color: #fff;
	font-size: 2.2rem;
	border-radius: .3rem
}

input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],select,textarea {
	display: block;
	width: 100%;
	padding: .5em;
	font-size: 1.6rem;
	line-height: 1.2;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	-webkit-appearance: none;
	-webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out
}

::-webkit-input-placeholder {
	color: #ccc
}

:-moz-placeholder {
	color: #ccc
}

::-moz-placeholder {
	color: #ccc
}

:-ms-input-placeholder {
	color: #ccc
}

input.white-ipt {
	height: 8rem;
	padding-left: 2rem;
	background: #fff;
	font-size: 2.4rem;
	border-radius: .3rem
}

input.gray-ipt {
	height: 8rem;
	padding-left: 2rem;
	background: #f0f0f0;
	color: #999;
	font-size: 2.4rem;
	border-radius: .3rem
}

input.bdr-text-ipt {
	border: 1px solid #eee;
	border-radius: .3rem
}

.wh-btn {
	display: inline-block;
	margin-bottom: 0;
	padding: .5em .5em;
	vertical-align: middle;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	background-image: none;
	border: 1px solid transparent;
	border-radius: .3rem;
	cursor: pointer;
	outline: 0;
	-webkit-appearance: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color .3s ease-out,border-color .3s ease-out;
	transition: background-color .3s ease-out,border-color .3s ease-out
}

.wh-btn:active {
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.15);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.15)
}

.wh-btn-default {
	color: #444;
	background-color: #e6e6e6;
	border-color: #e6e6e6
}

.wh-btn-default:active,.wh-btn-default:focus,.wh-btn-default:hover {
	border-color: #c7c7c7;
	background-color: #d4d4d4
}

.wh-btn-default:focus,.wh-btn-default:hover {
	background-color: #d4d4d4
}

.wh-btn-default:active {
	background-image: none;
	background-color: #c2c2c2
}

.wh-btn-primary {
	color: #fff;
	background-color: #ffa600;
	border-color: #ffa600
}

.wh-btn-primary:active,.wh-btn-primary:focus,.wh-btn-primary:hover {
	color: #fff;
	border-color: #fea700
}

.wh-btn-primary:focus,.wh-btn-primary:hover {
	background-color: #e99104
}

.wh-btn-primary:active {
	background-image: none;
	background-color: #dd8502
}

.wh-btn-block {
	display: block;
	width: 100%;
	height: 6.667rem;
	font-size: 2.8rem
}

.wh-list-item {
	position: relative;
	background: #fff;
	border-radius: .4rem
}

.wh-list-item .wh-list-in {
	display: block;
	padding: 1.2rem;
	font-size: 2.4rem;
	color: #999
}

.wh-list-item .iconfont {
	display: inline-block;
	margin-right: 1.5rem;
	vertical-align: middle;
	font-size: 3.6rem
}

.wh-list-item .icon-msg {
	color: #f7b231
}

.wh-list-item .icon-email {
	color: #5bb2d6
}

.wh-list-item .icon-service {
	color: #59ebbd
}

.wh-list-item .icon-right {
	position: absolute;
	right: 2rem;
	top: 1.2rem;
	font-size: 3.4rem
}

.wh-com-list {
	margin-top: 2rem
}

.wh-com-list .wh-list-item {
	margin-bottom: 1px;
	color: #999
}

.wh-com-list .wh-list-item .wh-list-in {
	padding-left: 3rem
}

.wh-com-list .wh-list-item.item-last {
	margin-top: 2rem
}

.wh-com-list .wh-list-item .item-name {
	color: #333
}

.wh-com-list .wh-list-item .r-txt {
	position: absolute;
	right: 8rem;
	top: 2rem
}

.wh-com-list .iconfont {
	font-size: 3.2rem
}

.wh-com-list .icon-color-1 {
	color: #f7bd61
}

.wh-com-list .icon-color-2 {
	color: #5cd9ca
}

.wh-com-list .icon-color-3 {
	color: #f26e88
}

.wh-com-list .icon-color-4 {
	color: #8fd4ed
}

.wh-com-list .icon-color-5 {
	color: #9b8ed5
}

.wh-com-list .icon-color-6 {
	color: #d36467
}

.wh-com-list .icon-color-7 {
	color: #f18155
}

.wh-com-list .icon-color-8 {
	color: #9c89f2
}

.wh-com-list .icon-color-9 {
	color: #55cff1
}

.wh-com-list .icon-color-10 {
	color: #5bd99c
}

.wh-com-list .icon-color-11 {
	color: #55cff1
}

.wh-com-list .icon-color-12 {
	color: #f26e88
}

.wh-com-list .icon-color-13 {
	color: #ee7070
}

.wh-com-list .icon-color-14 {
	color: #83a4f2
}

.tag-bdr-off {
	display: block;
	position: relative;
	padding: .6rem 2.7rem;
	border: 2px solid #eee;
	border-radius: .3rem;
	color: #666;
	overflow: hidden
}

.tag-bdr-on {
	border-color: #ffa600;
	color: #ffa600
}

.tag-bdr-on .tic-arow {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-width: 1.3rem;
	border-style: solid;
	border-color: transparent #ffa600 #ffa600 transparent
}

.tag-bdr-on .icon-tic {
	position: absolute;
	top: 1.8rem;
	right: -.7rem;
	font-size: 3rem;
	color: #fff
}

.wh-pers-hd {
	padding-top: 16.8rem;
	padding-bottom: 2rem;
	text-align: center;
	color: #fff
}

.wh-pers-hd .pers-tips {
	font-size: 2.2rem
}

.wh-pers-hd .pers-tips .pers-tips-link {
	color: #f9fa06;
	font-size: 2.4rem
}

.wh-pers-hd .owner-id {
	margin-bottom: 3rem;
	font-size: 2.8rem
}

.wh-pers-hd .iconfont {
	font-size: 2.6rem
}

.wh-pers-hd .icon-perstalk {
	position: absolute;
	top: 3rem;
	right: 3rem
}

.wh-form-group {
	margin-bottom: 3rem
}

.wh-form-group.wh-group-plr {
	margin-top: 3rem;
	padding-left: 3rem;
	padding-right: 3rem
}

.wh-form-group.wh-group-plr .wh-btn-primary {
	height: 6.4rem
}

.wh-form-group .label {
	float: left;
	width: 22%;
	padding-right: 2rem;
	height: 6rem;
	font-size: 2.2rem;
	color: #333;
	line-height: 6rem;
	text-align: right
}

.wh-form-group .label.l-wrap {
	line-height: 3rem
}

.wh-form-group .label .point {
	color: #ea5b02
}

.wh-form-group .bdr-text-ipt {
	width: 78%;
	height: 6rem;
	overflow: hidden;
	font-size: 2rem;
	border: .2rem solid #eee;
	border-radius: .3rem
}

.wh-form-group .bdr-textarea-ipt {
	width: 78%;
	overflow: hidden;
	font-size: 2rem;
	border: .2rem solid #eee;
	border-radius: .3rem
}

.wh-form-group .file-wrap-box {
	position: relative;
	float: left;
	padding: 4.6rem 4.8rem;
	border: .2rem solid #eee;
	border-radius: .3rem
}

.wh-form-group .file-wrap-box .icon-plus {
	font-size: 4rem;
	color: #eee
}

.wh-form-group .file-wrap-box .file-box {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0
}

.wh-form-group .file-wrap-box-2 {
	padding: 3.6rem 4.8rem
}

.wh-form-group .pas-code-2 {
	float: right;
	width: 23%;
	height: 6rem
}

.wh-form-group .pas-code-2 .code-img {
	display: inline-block;
	height: 100%;
	width: auto
}

.wh-form-group .checkbox-con-ml {
	margin-left: 22%;
	text-align: left
}

.checkbox-con {
	margin-top: 3rem;
	font-size: 2.2rem;
	color: #666;
	text-align: center
}

.checkbox-con .checkbox {
	width: 3rem;
	height: 3rem
}

.key-text {
	color: #ea5b02
}

.wh-form-sm-2 {
	width: 31.4%
}

.wh-form-select {
	float: left;
	height: 8rem;
	margin-right: 2.2rem;
	line-height: 8rem;
	background: #fff;
	border-radius: .3rem;
	font-size: 2.4rem;
	text-align: center;
	color: #999
}

.wh-form-select .am-dropdown {
	width: 100%
}

.wh-form-select .am-btn-default.am-selected-btn {
	height: 8rem;
	padding: 2rem;
	padding-bottom: 2rem;
	font-size: 2.2rem;
	line-height: 4rem;
	border: 0;
	vertical-align: top
}

.wh-form-select .am-btn-default.am-selected-btn:hover:focus {
	background: #eee;
	outline: 0;
	-webkit-transition: none;
	transition: none;
	outline-offset: 0
}

.wh-form-select .am-btn-default.am-selected-btn .am-selected-status {
	max-width: 89%;
	color: #999
}

.wh-form-select .am-selected-list>.am-checked>.am-icon-check {
	color: #ffa600
}

.wh-form-select .am-selected-icon.am-icon-caret-down {
	color: #cacaca;
	font-size: 2.9rem
}

.wh-form-select .am-active .am-selected-icon.am-icon-caret-down {
	color: #ffa600
}

.wh-panel-nav a {
	display: block;
	height: 8.2rem;
	padding-left: 13.2%;
	background: #f6f6f6;
	color: #666;
	font-size: 2.4rem;
	line-height: 8.2rem
}

.wh-panel-nav a:first-child {
	border-bottom: 1px solid #fff
}

.wh-wrap {
	background: #fff
}

.wh-hd {
	padding: 17rem 7.6rem 6.2rem;
	background: url(../images/hd-bg.jpg) no-repeat center;
	background-size: auto 100%;
	text-align: center
}

.wh-hd .wh-hd-font {
	display: inline-block;
	padding: 10px 30px;
	border: 2px solid #fff;
	font-size: 3.4rem;
	color: #fff
}

.wh-hd .wh-hd-search {
	display: block;
	position: relative;
	margin-top: 5.4rem;
	padding-left: 7rem;
	border: .4rem solid #eee;
	border-radius: 4px;
	background: #fff
}

.wh-hd .wh-hd-search .icon-search {
	position: absolute;
	left: 2rem;
	bottom: .3rem;
	font-size: 3.8rem;
	color: #999
}

.wh-hd .wh-hd-search .ipt {
	display: block;
	width: 100%;
	height: 6rem;
	font-size: 2rem;
	border: 0;
	background: #fff
}

.wh-ic-bd {
	padding: 2.2rem
}

.wh-ic-bd .icon-list {
	clear: both;
	padding: 1.2rem;
	border: 1px solid #fafafa;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 1px #fafafa;
	box-shadow: 0 0 1px #fafafa
}

.wh-ic-bd .icon-list .icon-item {
	float: left;
	width: 50%;
	padding-bottom: 1rem;
	text-align: center;
	font-size: 2.2rem
}

.wh-ic-bd .icon-list .icon-item1 {
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee
}

.wh-ic-bd .icon-list .icon-item2 {
	border-bottom: 1px solid #eee
}

.wh-ic-bd .icon-list .icon-item3 {
	border-right: 1px solid #eee
}

.wh-ic-bd .icon-list .info {
	font-size: 2.8rem;
	color: #999
}

.wh-ic-bd .icon-list .dtx1 {
	color: #6c95c5
}

.wh-ic-bd .icon-list .dtx2 {
	color: #2d4f6d
}

.wh-ic-bd .icon-list .dtx3 {
	color: #436da6
}

.wh-ic-bd .icon-list .dtx4 {
	color: #59697e
}

.wh-ic-bd .icon-list .num {
	font-size: 3rem;
	font-weight: 700
}

.wh-info .wh-figure img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto
}

.wh-info .wh-info-con {
	padding: 0 2.2rem 2.5rem
}

.wh-info .wh-info-con .wh-info-hd {
	position: relative;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	text-align: left
}

.wh-info .wh-info-con .title {
	font-size: 2.8rem;
	color: #333
}

.wh-info .wh-info-con .wh-info-tag {
	margin-bottom: 1.3rem
}

.wh-info .wh-info-con .wh-info-tag .wh-tag:first-child {
	margin-right: 1.5rem
}

.wh-info .wh-info-con .wh-info-loct {
	margin-bottom: .3rem;
	font-size: 2.2rem
}

.wh-info .wh-info-con .wh-info-loct .location {
	color: #fea700
}

.wh-info .wh-info-con .wh-info-loct .icon-loct {
	display: inline-block;
	vertical-align: middle;
	font-family: iconfont!important;
	font-size: 3.8rem;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale
}

.wh-info .wh-info-con .wh-info-loct .wh-info-area {
	margin-left: 2rem;
	color: #999
}

.wh-info .wh-info-con .wh-info-loct .wh-info-area .cor {
	display: inline-block;
	vertical-align: middle
}

.wh-info .wh-info-con .wh-info-bt {
	position: relative;
	font-size: 2.4rem
}

.wh-info .wh-info-con .wh-info-bt .price {
	color: #333
}

.wh-info .wh-info-con .wh-info-bt .num {
	font-size: 3rem;
	color: #fea700
}

.wh-info .wh-info-con .wh-info-bt .comment {
	position: absolute;
	right: 0;
	top: 0;
	color: #999
}

.wh-info .wh-info-con .wh-info-bt .comment .num2 {
	color: #fea700
}

.star-box {
	position: absolute;
	top: .5rem;
	right: 2.2rem
}

.star-box .icon-star {
	font-size: 3rem;
	color: #eee;
	-webkit-animation: play 1.8s infinite;
	animation: play 1.8s infinite
}

.star-box .icon-star.star-on {
	color: #feb631
}

.wh-form-wrap {
	padding-left: 2.4rem;
	padding-right: 2.4rem;
	padding-top: 4rem
}

.wh-form-wrap input,.wh-form-wrap select {
	border: 0
}

.wh-form-wrap .wh-form-sm-10 {
	overflow: hidden
}

.wh-form-wrap .wh-form-select-type {
	width: 100%
}

.wh-form-wrap .wh-form-select-type .wh-form-sm-typer {
	float: left;
	height: 8rem;
	line-height: 8rem;
	width: 20%;
	background: #fff;
	font-size: 2.4rem;
	color: #999;
	text-align: center
}

.wh-form-wrap .wh-form-select-type .am-dropdown {
	width: 80%
}

.wh-form-wrap .pas-ipt {
	float: left;
	width: 72.79202279202279%
}

.wh-form-wrap .pas-code {
	width: 24.21652421652422%;
	height: 8rem;
	float: right;
	overflow: hidden
}

.wh-form-wrap .pas-code .code-mes {
	color: #333
}

.wh-form-wrap .pas-code .code-img {
	vertical-align: top
}

.wh-form-wrap .pas-ipt2 {
	float: left;
	width: 68.66096866096866%
}

.wh-form-wrap .pas-code-text {
	float: right;
	width: 31.05413105413105%;
	height: 8rem;
	line-height: 8rem;
	font-size: 2.4rem;
	text-align: right;
	background: #fff;
	text-align: center
}

.wh-form-wrap .pas-code-text .code-mes {
	display: block;
	color: #333
}

.wh-form-wrap .wh-ph-warn {
	margin-bottom: 2rem;
	font-size: 2.2rem;
	color: #999
}

.wh-form-wrap .wh-ph-warn .icon-lamp {
	display: inline-block;
	vertical-align: middle;
	color: #ffa600;
	font-size: 4rem
}

.wh-form-wrap .phone-box {
	padding: 2.6rem 3rem;
	background: #fff;
	font-size: 2.4rem;
	color: #333
}

.wh-form-wrap .phone-box .icon-phone {
	display: inline-block;
	margin-right: .5rem;
	vertical-align: middle;
	font-size: 4rem
}

.wh-form-wrap .phone-box .phone-num {
	margin-left: 5rem;
	font-size: 3rem;
	color: #ffa600
}

.wh-form-wrap .wh-log-bt {
	text-align: right
}

.wh-form-wrap .wh-log-bt .link-respas {
	float: left;
	font-size: 2.2rem;
	color: #666
}

.wh-form-wrap .wh-log-bt .link-regist {
	overflow: hidden;
	font-size: 2.4rem;
	color: #ffa600
}

.wh-form-wrap .wh-form-select-type .am-btn-default.am-selected-btn .am-selected-status {
	color: #ffa600
}

.wh-pd-wrap {
	padding-left: 2.4rem;
	padding-right: 2.4rem
}

.wh-pd-wrap .wh-hd-title {
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	font-size: 2.4rem;
	color: #999
}

.wh-pd-wrap .wh-list-item {
	margin-bottom: 2rem
}

.wh-data-wrap {
	padding: 4rem 3rem 3rem 1rem;
	background: #fff
}

.wh-opa {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	opacity: .4;
	z-index: 999
}

.wh-pop {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1000;
	width: 80%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background: #fff
}

.wh-pop .icon-close {
	position: absolute;
	top: 1rem;
	right: 2rem
}

.wh-deal-con {
	width: 100%;
	padding: 3rem
}

.wh-lbs-hd {
	background: #fff;
	padding-left: 2rem;
	padding-right: 2rem
}

.wh-lbs-hd .wh-sub-search {
	margin-bottom: 4rem;
	padding-top: 2rem;
	text-align: center;
	line-height: 6rem
}

.wh-lbs-hd .wh-sub-search .icon-map {
	float: left;
	font-size: 5.2rem;
	color: #666
}

.wh-lbs-hd .wh-sub-search .search-ipt {
	display: inline-block;
	width: 77.46478873239437%;
	height: 6rem
}

.wh-lbs-hd .wh-sub-search .search-ipt::-webkit-input-placeholder {
	color: #d5d5d5;
	font-size: 2.8rem
}

.wh-lbs-hd .wh-sub-search .search-ipt:-moz-placeholder {
	color: #d5d5d5;
	font-size: 2.8rem
}

.wh-lbs-hd .wh-sub-search .search-ipt::-moz-placeholder {
	color: #d5d5d5;
	font-size: 2.8rem
}

.wh-lbs-hd .wh-sub-search .search-ipt:-ms-input-placeholder {
	color: #d5d5d5;
	font-size: 2.8rem
}

.wh-lbs-hd .wh-sub-search .icon-search {
	float: right;
	font-size: 5.2rem;
	color: #959595
}

.wh-lbs-hd .wh-lbs-clfy {
	height: 5.5rem;
	margin-bottom: 2rem;
	font-size: 2.8rem;
	line-height: 5.5rem;
	text-align: center
}

.wh-lbs-hd .wh-lbs-clfy .wh-lbs-search-map {
	float: left;
	color: #999
}

.wh-lbs-hd .wh-lbs-clfy .wh-lbs-tab {
	display: inline-block;
	width: 40%;
	height: 5.5rem;
	border: .2rem solid #ccc;
	border-radius: .8rem;
	overflow: hidden
}

.wh-lbs-hd .wh-lbs-clfy .wh-lbs-tab .wh-lbs-tab-item {
	float: left;
	width: 50%;
	text-align: center;
	color: #333
}

.wh-lbs-hd .wh-lbs-clfy .wh-lbs-tab .wh-lbs-tab-item:nth-of-type(1) {
	border-right: .2rem solid #ccc
}

.wh-lbs-hd .wh-lbs-clfy .wh-lbs-search-class {
	float: right;
	color: #a5a5a5
}

.wh-lbs-hd .wh-lbs-range {
	margin-bottom: 2rem;
	font-size: 2.6rem;
	color: #989898;
	text-align: center
}

.wh-lbs-con {
	margin-top: 20px;
	background: #fff
}

.wh-lbs-con .wh-lbs-list {
	padding-left: 8rem;
	padding-right: 8rem
}

.wh-lbs-con .wh-lbs-list .wh-lbs-item {
	border-bottom: 1px solid #eee;
	font-size: 2.8rem;
	color: #333;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 1.5rem
}

.wh-lbs-con .wh-lbs-list .wh-lbs-item .icon-loc {
	font-size: 4rem;
	color: #fea700
}

.wh-lbs-con .wh-lbs-list .wh-lbs-item .icon-map {
	margin-right: 2rem;
	font-size: 3.8rem
}

.am-offcanvas-bar {
	width: 87.46666666666667%;
	background: #fff
}

.am-offcanvas-bar:after {
	background: #eee
}

.wh-offcanvas-content {
	padding-top: 3rem;
	padding-bottom: 5rem;
	color: #333;
	font-size: 2.4rem
}

.wh-offcanvas-content .canvas-con-item .tags-hd {
	padding-left: 2.5rem;
	border-left: 5px solid #ffa600
}

.wh-offcanvas-content .canvas-con-item .tags-hd .all {
	position: absolute;
	right: 2rem;
	top: 5rem;
	color: #ffa600
}

.wh-offcanvas-content .canvas-con-item .tags-bd {
	padding-top: 3rem;
	padding-left: 2.7rem;
	padding-right: 2.7rem
}

.wh-offcanvas-content .canvas-con-item .tags-bd .tags-item {
	float: left;
	margin-bottom: 3rem;
	padding-left: 1rem;
	padding-right: 1rem
}

.wh-offcanvas-content .wh-btn-primary {
	width: 51%;
	margin-left: auto;
	margin-right: auto
}

.wh-pers-hd1 {
	padding-top: 17rem;
	padding-bottom: 1.8rem;
	background: url(../images/wh-pers-hd1.jpg) no-repeat center;
	background-size: auto 100%;
	background-color: #fff
}

.wh-pers-hd1 .wh-user-box {
	margin-top: 3rem;
	margin-bottom: 3.8rem;
	text-align: center
}

.wh-pers-hd1 .wh-user-box .wbtn {
	display: inline-block;
	padding: .3rem 2.8rem;
	font-size: 2.4rem;
	text-align: center;
	color: #fff;
	background: #f2b384;
	background: rgba(246,246,246,.5);
	border-radius: 1.2rem
}

.wh-pers-hd1 .wh-user-box .btn-regist {
	margin-left: 4rem
}

.wh-pers-hd2 {
	background: url(../images/wh-pers-hd1.jpg) no-repeat center;
	background-size: auto 100%;
	background-color: #fff
}

.wh-pers-hd3 {
	background: url(../images/wh-pers-hd3.jpg) no-repeat center;
	background-size: auto 100%;
	background-color: #fff
}

.wh-pers-hd4 {
	background: url(../images/wh-pers-hd4.jpg) no-repeat center;
	background-size: auto 100%;
	background-color: #fff
}

.house-owner-tab {
	padding-top: 1.8rem;
	padding-bottom: 1.8rem;
	background: #fff
}

.house-owner-tab .house-owner-tablink {
	float: left;
	width: 50%;
	font-size: 2.6rem;
	color: #333;
	text-align: center
}

.house-owner-tab .house-owner-tablink.hw-ot-bdr {
	border-left: 1px solid #eee
}

.house-owner-tab .icon-house-1 {
	display: inline-block;
	vertical-align: text-bottom
}

.house-owner-tab .icon-house-2 {
	display: inline-block;
	vertical-align: text-bottom
}

.range-lbs-area {
	padding-bottom: 9rem
}

.noUiSlider {
	margin: 0 2rem;
	height: 1rem;
	background: #ccc;
	border-radius: 1rem;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0
}

.noUiSlider .noUi-handle {
	width: 3.2rem;
	height: 4rem;
	left: -1.6rem;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	border-radius: 0;
	background: url(../images/handle.png) no-repeat;
	background-size: 100%
}

.noUi-handle:after,.noUi-handle:before {
	display: none
}

.noUi-connect {
	background: #ffc000;
	-webkit-box-shadow: none;
	box-shadow: none
}

.noUi-pips {
	height: auto;
	padding: 0
}

.noUi-value {
	font-size: 2.8rem
}

.noUi-marker {
	display: none
}

.noLimit {
	float: right;
	font-size: 2.8rem;
	color: #999;
	-webkit-transform: translate(-30%,50%);
	transform: translate(-30%,50%)
}

.data-step-box {
	position: relative;
	margin-bottom: 2rem;
	padding-top: 4rem;
	padding-bottom: 3rem;
	background: #fff;
	color: #ffa600;
	text-align: center;
	line-height: 5rem
}

.data-step-box .data-step {
	float: left;
	width: 35.6%;
	padding-left: 6.8%;
	font-size: 2.4rem;
	color: #999
}

.data-step-box .data-step:first-child {
	margin-left: -6.8%
}

.data-step-box .data-step .step-num-bdr {
	width: 5rem;
	height: 5rem;
	margin-left: auto;
	margin-right: auto;
	padding: .6rem;
	background: rgba(224,224,224,.13);
	line-height: 5rem;
	border-radius: 50%
}

.data-step-box .data-step .step-num {
	display: block;
	width: 3.8rem;
	height: 3.8rem;
	color: #fff;
	font-size: 2.2rem;
	background: #e0e0e0;
	text-align: center;
	border-radius: 50%;
	line-height: 3.8rem
}

.data-step-box .data-step.data-step-on {
	color: #ffa600
}

.data-step-box .data-step.data-step-on .step-num-bdr {
	background: rgba(255,166,0,.13)
}

.data-step-box .data-step.data-step-on .step-num {
	background: #ffa600
}

.data-step-box .step-line {
	position: absolute;
	border-top: .4rem solid #e0e0e0;
	border-radius: .2rem;
	width: 24.5%;
	top: 6.5rem
}

.data-step-box .step-line.step-line-1 {
	left: 20%
}

.data-step-box .step-line.step-line-2 {
	left: 55.5%
}

.wh-data-wrap .wh-form-data-sm-2 {
	width: 27%;
	height: 6rem;
	margin-right: 3%;
	border: .2rem solid #eee;
	border-radius: .3rem;
	line-height: 6rem
}

.wh-data-wrap .wh-form-data-sm-2 .am-btn-default.am-selected-btn {
	height: 5rem;
	padding: 0 2rem;
	line-height: 5rem;
	font-size: 1.6rem
}

.wh-data-wrap .wh-form-data-sm-3 {
	float: left;
	width: 48%
}

.wh-data-wrap .wh-form-data-sm-3 .bdr-text-ipt {
	width: 100%
}

.wh-data-wrap .wh-form-lm-3 .bdr-text-ipt {
	float: left;
	width: 52%
}

.wh-data-wrap .wh-area-link {
	float: right;
	color: #ffa600;
	border: .2rem solid #eee;
	border-radius: .3rem;
	height: 6rem;
	width: 23%;
	font-size: 2rem;
	line-height: 5.6rem;
	text-align: center
}

.wh-data-wrap .file-img-box {
	float: left;
	width: 78%
}

.wh-data-wrap .file-img-box .file-img {
	max-width: 100%
}

.menbers-box {
	padding: 3rem 3rem 3rem 1rem;
	background: #fff
}

.menbers-box .menbers-btn {
	float: left;
	min-width: 24%;
	margin-right: 2%;
	height: 6rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	color: #666;
	font-size: 2.2rem;
	background: 0 0;
	border: .2rem solid #eee;
	border-radius: .3rem
}

.menbers-box .menbers-btn:last-child {
	margin-right: 0
}

.menbers-box .menbers-btn.menbers-btn-on,.menbers-box .menbers-btn:hover {
	border-color: #ffa600;
	color: #ffa600
}

.wh-modal2 {
	padding-bottom: 5rem
}

.wh-modal2 .am-modal-bd {
	border-bottom: 0
}

.wh-modal2 .dialog-con {
	font-size: 2.4rem
}

.wh-modal2 .dialog-con .tags-hd {
	padding-left: 2.5rem;
	border-left: 5px solid #ffa600;
	text-align: left;
	font-size: 2.6rem;
	line-height: 2.8rem
}

.wh-modal2 .dialog-con .tags-hd .all {
	position: absolute;
	right: 2rem;
	top: 2rem;
	color: #ffa600
}

.wh-modal2 .dialog-con .tags-bd {
	padding-top: 3rem;
	padding-left: 2.7rem;
	padding-right: 2.7rem
}

.wh-modal2 .dialog-con .tags-bd .tags-item {
	float: left;
	margin-bottom: 3rem;
	padding-left: 1rem;
	padding-right: 1rem
}

.wh-modal2 .dialog-con .tags-bd .tags-item .tag-bdr-off {
	padding: .6rem 2.7rem
}

.wh-modal2 .am-modal-footer {
	display: block;
	height: auto;
	padding-bottom: 5rem
}

.wh-modal2 .am-modal-footer .wh-btn-primary {
	display: inline-block!important;
	width: 62%;
	height: auto;
	font-size: 2.8rem
}

.wh-modal2 .am-modal-footer .wh-btn-primary:first-child:last-child {
	border-radius: .3rem
}